body{
	background: #22273D;
	color: #fff;
	text-align: center;
}
.logo{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
}
.title1{
	width: 100px;
	margin: 0 auto;
	position: relative;
	top: 20px;
}
.title2{
	margin-top: 30px;
	font-size: 36px;
}
.content{
	width:100%;
}
.button section{
	width:100%;
	float:right;
}
.button section{
	width: 50%;

}
.button section img{
	width: 50%;
}
.adn{
	display:block;
	margin-top:10px;
	width: 76%;
	margin-left:12%;
	height: 30px;
	background: #fff;
	color: #333;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-size: 12px;
}
.ios{
	display:block;
	margin-top:10px;
	width: 76%;
	margin-left:12%;
	height: 30px;
	background: #fff;
	color: #333;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-size: 12px;
}
.left{
	width:50%;
	float:left;
}